#notetitle {
    text-align: center;
    font-size: larger;
    margin-top: 10px;
    margin-bottom: 10px;
}
#content {
    width: 90%;
    margin: auto;
    padding-bottom: 10px;
}
#okBtn {
    position: fixed;
    bottom: 10px;
    width: 90%;
    left: 15px;
    right: 15px;
}